@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #444444;
  background: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
}

.task-list {
  height: calc(100% - 160px);
}
